@model IEnumerable<GAbsence.Models.Matiere>

@{
    ViewData["Title"] = "Liste des matières";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Créer une nouvelle matière</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Libellé</th>
                <th>Nombre d'heures</th>
                <th>Coefficient</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CodeMatiere</td>
                    <td>@item.Libelle</td>
                    <td>@item.NbreHeures</td>
                    <td>@item.Coefficient</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CodeMatiere" class="btn btn-sm btn-info">Modifier</a>
                        <a asp-action="Details" asp-route-id="@item.CodeMatiere" class="btn btn-sm btn-primary">Détails</a>
                        <a asp-action="Delete" asp-route-id="@item.CodeMatiere" class="btn btn-sm btn-danger">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> 