@model IEnumerable<DepartementViewModel>

<h2>Liste des départements</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Ajouter un département</a>
</p>

<div class="row">
    @foreach (var departement in Model)
    {
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">@departement.NomDepartement</h5>
                </div>
                <div class="card-body">
                    <h6>Enseignants :</h6>
                    <ul class="list-group">
                        @foreach (var enseignant in departement.Enseignants)
                        {
                            <li class="list-group-item">
                                @enseignant.Nom @enseignant.Prenom
                            </li>
                        }
                    </ul>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@departement.CodeDepartement"
                       class="btn btn-sm btn-warning">Modifier</a>
                    <a asp-action="Details" asp-route-id="@departement.CodeDepartement"
                       class="btn btn-sm btn-info">Détails</a>
                </div>
            </div>
        </div>
    }
</div>